<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">

    <contextName>anyframe-online-sample-app</contextName>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>

        <encoder>
            <pattern>[%date{HH:mm:ss}][%-5level][%t][%class{0}][%method][%line] : %msg%n%ex{full}</pattern>
        </encoder>
    </appender>

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>c:\app\logs\monitor\monit-api\monit-api.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>[%date{HH:mm:ss}][%-5level][%t][%class{0}][%method][%line] : %msg%n%ex{full}</pattern>
        </encoder>
    </appender>


    <logger name="com.crossent.monitoring" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="console" />
        <appender-ref ref="file" />
    </root>
</configuration>